.navContainer {
  background-color: #2e2e2e;
  color: white;
  padding: 15px 0;
  text-align: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff4747;
  margin-bottom: 20px;
}

nav {
  margin: 10px 0;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
}

.navLink {
  color: white;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navLink.active {
  background-color: #ff4747;
  color: white;
}

.navLink:hover {
  background-color: #4a4a4a;
  color: #ff4747;
}
