.pageContainer {
  background-color: #1411118a; 
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  font-size: 2rem;
  color: #ff4747; 
  margin-bottom: 30px;
}

.searchBox {
  background-color: #1e1e1e; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #333; 
  color: white;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #ff4747; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e03a3a; 
}

.error {
  color: #ff4747; 
  text-align: center;
  margin-top: 20px;
}

.noMovies {
  color: #ff4747; 
  text-align: center;
  margin-top: 20px;
}
