.movieList {
    list-style: none;
    padding: 0;
  }
  
  .movieItem {
    margin: 10px 0;
  }
  
  .movieLink {
    text-decoration: none;
    color: black;
  }
  
  .moviePoster {
    width: 200px;
    height: auto;
  }
  
  .movieTitle {
    font-size: 16px;
    margin-top: 5px;
  }
  